{{ define "main" }}

<!-----------------------------navbar ------------------------------------------------------------------>
{{ partial "pheader-terms.html" . }}
<!------------------------------------------------------------------------------------------------------>
{{"<!-- terms -->"| safeHTML}}

<section class="mb-1" id="t-content">
  <div class="container">
   <div class="row" >
    {{with .Site.Data.terms.terms}}
    <img class="responsive-img"  src="{{ .background | absURL }}" alt="" id="terms-background">
      <div class="col s12">
        <h2>{{ .title }}</h2>
        <p>{{ .content }}</p>
     {{ end }}
      </div>
    </div>
  </div>
</section>

{{"<!-- /terms -->"| safeHTML}}

{{ partial "contact-access-gray.html" . }}

{{ end }}