{{ define "main" }}
<!-------------------------------------------navbar----------------------------------------------------------------->
{{ partial "pheader-privacy.html" . }}
<!------------------------------------------------------------------------------------------------------------------>
{{"<!-- privacy -->"| safeHTML}}

<section class="mb-1" id="p-content">
  <div class="container">
    <div class="row">
      {{ with .Site.Data.privacy.privacy }}
      <img class="responsive-img"  src="{{ .background | absURL }}" alt="{{.title}}" id="privacy-background">
      <div class="col s12">
        <h2>{{ .title }}</h2>
        <p>{{ .content | markdownify }}</p>
      {{ end }}
      </div>
    </div>
  </div>
</section>

{{"<!-- /privacy -->"| safeHTML}}

{{ partial "contact-access-gray.html" . }}

{{ end }}
