{{ define "main" }}

<!-----------------------------navbar ------------------------------------------------------------------>
{{ partial "pheader-services.html" . }}
<!-------------------------------------------------------------------------------------------------------->

{{"<!-- services -->" | safeHTML }}
<section class="mb-1 mr-2" id="serv-sect">
  <div class="container">
    <div class="row">
      <div class="col s12"><!--------first row title-->
        {{ with .Site.Data.services.service }}
        <h2>{{ .title }}</h2>
        <h6 class="mr-2">{{.description}}</h6>
        {{ end }}
      </div>
    </div><!-------------/first row title------------> 
    
      <div class="accordionItem close">
           {{ with .Site.Data.services.serviceItem1 }}
            <h3 class="accordionItemHeading">{{.title}}</h3>
            <div class="accordionItemContent">
              <p>{{ .content | markdownify }}</p>              
            </div>
      </div>
          {{end}}
      <div class="accordionItem close">
        {{ with .Site.Data.services.serviceItem2 }}
            <h3 class="accordionItemHeading">{{.title}}</h3>
            <div class="accordionItemContent">
              <p>{{ .content | markdownify }}</p>              
            </div>
      </div>
          {{end}}
      <div class="accordionItem close">
        {{ with .Site.Data.services.serviceItem3 }}
            <h3 class="accordionItemHeading">{{.title}}</h3>
            <div class="accordionItemContent">
              <p>{{ .content | markdownify }}</p>              
            </div>
      </div>
          {{end}}
      <div class="accordionItem close">
        {{ with .Site.Data.services.serviceItem4 }}
            <h3 class="accordionItemHeading">{{.title}}</h3>
            <div class="accordionItemContent">
              <p>{{ .content | markdownify }}</p>              
            </div>
      </div>
          {{end}}    
  </div>
</section> 
<!----------------------------------------------------------------------------------------------->
<section class="light-gray">
  <div class="container">
    <div class="row">       
      <div class="col s12 m6 l6">        
        <div id="list-keys">
          <h3>Design</h3> 
          <div class="col s12 push-s4 m4 push-m4 l4 push-l4">                  
            <div class="te"><i class=" tiny material-icons">play_arrow</i><h6>Research</h6></div>
            <div class="te"><i class=" tiny material-icons">play_arrow</i><h6>Wireframing</h6></div>
            <div class="te"><i class=" tiny material-icons">play_arrow</i><h6>UI/UX</h6></div>
          </div>            
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div id="list-keys">
          <h3>Programming</h3> 
          <div class="col s12 push-s4 m4 push-m3 l4 push-l3">            
            <div class="te"><i class=" tiny material-icons">play_arrow</i><h6>Frontend</h6></div>
            <div class="te"><i class=" tiny material-icons">play_arrow</i><h6>Backend</h6></div>
            <div class="te"><i class=" tiny material-icons">play_arrow</i><h6>Testing</h6></div>  
          </div>         
        </div>
      </div>
      
    </div>
  </div>  
</section>
<!-------------------------------------------------------------------------------------------------->
<section>
  <div class="container">
    <div class="row">
      <h2>How we work</h2>
      <div id="shsskkasas"></div>
    </div>

  </div>
</section>
  
  


{{ partial "contact-access-gray.html" . }}

{{"<!-- services -->" | safeHTML }}



{{ end }}