{{ define "main" }}

<!-----------------------------navbar ------------------------------------------------------------------>
{{ partial "pheader-casestd.html" . }}
<!------------------------------------------------------------------------------------------------------------------>

<section class="mb-1" id="case-sect"><!--? products section--------------------------------------------------------------->
  <div class="container">
    <div class="row"><!--------first row title------------------------------------------------>
      <div class="col s12">
        {{ with .Site.Data.product.pgtitle }}
        <h2>{{ .title }}</h2>
        <h6 class="mr-2">{{ .description }}</h6>
        {{ end }}
      </div>
    </div> <!-------------/first row title----------------------------------------------------->
    <div class="row mr-1 mr-2">
      <!--listed images------------------------------------------------------------------------->
      {{ range .Site.Data.product.pgtitle.productItem}}
      <div class=" col s12 m6 l4" id="card-container">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        
          <div class=" card flipper">
            <div class=" card-image front">
              <img src="{{ .image | absURL}}" alt="{{.title}}">
            </div>   
            <div class="back">
              <a href="#"><h3 class="card-title">{{ .title}}</h3></a>
              <p class="case-studies-descrip">{{.content}}</p>
              <div class="product-social">
                <a href="#"><i class="fa fa-2x fa-github"></i></a>
              </div>
            </div>
          </div>
       
        </div>
    </div>
    {{ end }} 
    </div><!--/listed images------------------------>
  </div>
</section><!--? /products section---------------------------------------------------------------> 

{{ partial "contact-access-gray.html" . }}

{{ end }}