{{ define "main" }}

<!-----------------------------navbar ------------------------------------------------------------------>
{{ partial "pheader-blogpst.html" . }}
<!------------------------------------------------------------------------------------------------------>
<section class="section mb-2">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l8">
        <img src="{{ .Params.Image | absURL }}" class="rounded-sm" alt="post-thumb">
        <p class="text-color card-date position-relative d-inline-block">BY <span class="text-dark">{{ .Params.Author }}</span> / ON <span class="text-dark">{{ .PublishDate.Format "Jan 02, 2006" }}</span></p>
        <div class="content">
          {{ .Content }}
        </div>
        <div class="row">
          <h5 class="d-inline-block">Share:</h5>
          <ul class="list-inline d-inline-block">
            {{ range .Site.Params.sharePost }}
            <li class="social-share"><a href="{{ .URL }}" class="text-color"><i class="fa {{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>



{{ end }}