{{ define "main" }}

<!-----------------------------navbar ------------------------------------------------------------------>
{{ partial "pheader-blogpst.html" . }}
<!------------------------------------------------------------------------------------------------------>
<section class="section mb-2">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <img src="{{ .Params.Image | absURL }}" class="rounded-sm" alt="post-thumb">
        <p class="text-color card-date position-relative d-inline-block">BY <span class="text-dark">{{ .Params.Author }}</span> / ON <span class="text-dark">{{ .PublishDate.Format "Jan 02, 2006" }}</span></p>
        <ul>
          {{ range .Params.categories }}
            <li class="filter-tags"><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}.html">{{ . }}</li></a>
        </ul> 
          {{end}}
        <div class="content">
          {{ .Content }}
        </div>
        <div class="row">
          <h5 class="d-inline-block">Share:</h5>
          <ul class="list-inline social-icons center-align">
            {{ range .Site.Params.sharePost }}
            <li class="list-inline-item"><a href="{{ .URL }}"><i class="fa {{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}