// variables
$primary-color: #1e4158;
$text-dark:#242f3e;
$secondary-color:#00baff; 
$secondary-color2: #e69c24;
$text-color:#1e4158;
$text-light:#d4dae3;
$white: #fff;
$border-color: #dee2e6;
$bg-secondary: #eaebec;
$bg-light-blue:#a5dfff;
$gray: #BDBFC1;
$black: #000;

$icon-font: 'Material-Design-Icons';
$primary-font: 'Roboto',
sans-serif;
$secondary-font: 'Open Sans',
sans-serif;
  