// vaariables
$primary-color: #00baff;
$text-dark:#242f3e;
$secondary-color: #1e4158;
$secondary-color2: #e69c24;
$text-color:#1e4158;
$text-light:#d4dae3;
$white: #fff;
$border-color: #dee2e6;
$bg-gradient-primary: linear-gradient(134deg, #00a4db 0%, #00269e 100%);
$bg-gradient-secondary:linear-gradient( 80deg, rgb(0,48,204) 0%, rgb(0,164,219) 100%);
$btn-gradient-primary: linear-gradient(45deg, rgb(0, 168, 244) 0%, rgb(2, 209, 161) 100%);
$bg-secondary: #eaebec;
$gray: #8b8e93;
$black: #000;

$icon-font: 'Material-Design-Icons';
$primary-font: 'Roboto',
sans-serif;
$secondary-font: 'Open Sans',
sans-serif;
  