{{ range $index, $element:= .Site.Data.pricing.pricing.pricingTable }}
{{ $delay := mul $index 200}}
<div class="col-lg-4 col-sm-6 mb-lg-0 mb-4" data-aos="fade-up" data-aos-delay="{{$delay}}">
  <div class="pricing-table position-relative text-center px-4 py-5 rounded-lg shadow transition bg-white">
    <span class="badge badge-pill badge-light font-weight-medium mb-3 py-2 px-4 text-primary">{{ .title }}</span>
    <div class="h1 text-dark">{{ .price }}<span class="paragraph text-lowercase"> / {{ .pricePer }}</span></div>
    <h5 class="mb-4 font-weight-normal text-color">{{ .description }}</h5>
    <hr>
    <ul class="list-unstyled my-4">
      {{ range .service }}
      <li class="my-3">{{ .name }}</li>
      {{ end }}
    </ul>
    <a href="{{ .URL }}" class="btn btn-outline-primary">{{ .btnText }}</a>
  </div>
</div>
{{ end }}