{{ define "main" }}

<!-----------------------------navbar -------s----------------------------------------------------------->
{{ partial "pheader-about.html" . }}
<!------------------------------------------------------------------------------------------------------------------>

{{"<!-- about -->" | safeHTML }}
{{ with .Site.Data.about.about }}
<section class="mb-2 mr-2" id="team"><!--**********************header section about the company********************-->
  <div class="container">
    <div class="row" id="comp-cont">
      <div class="col s12 m6 l6">
        <img src="{{ .aboutImg | absURL }}" alt="about datwit">
      </div>
      <div class="col s12 m6 l6">
        <p class="subtitle">{{ .subtitle }}</p>
        <h2>{{ .title }}</h2>
        <p>
          {{ .content | markdownify }} <br><br>
            {{ .linkDescription }} <a href="{{.github }}" class="text-reset"><i class="fa fa-2x fa-github"></i></a>
        </p>
      </div> 
    </div>
  </div>
</section><!--**************************************************************************************** -->
{{end}}
<!------------------------------team members------------------------------------------------------------>
<section class="light-gray">
  <div class="container">
    <div class="row"><!-------------------------------------------->
      <div class="col s12">
        {{ with .Site.Data.team.team }}
        <h2>{{ .subtitle }}</h2>
        {{ end }}
      </div>
    </div><!------------------------------------------------------->  
    <div class="row"><!-------------------------------------------->
      {{ range $element:= .Site.Data.team.team.teamMember }}
      <div class="col s12 m12 l6">
        <div class="team-member"><!----------------------picture-->
          <img src="{{ .image | absURL }}">
        </div><!-------------------------------------------------->
        <h5 class="team-member-name">{{.name }}</h5>
        <p class="team-member-designation">{{ .designation }}</p>
        <div class="row">
          <div class="col l8 push-l2">
            <p class="team-member-bio" id="bio">{{ .bio }}</p>
            <div class="container-social">
              <ul class="list-inline social-icons">
                {{ range .socialIcon }}
                <li class="list-inline-item"><a href="{{ .URL }}"><i class="fa {{ .icon }}"></i></a></li>
                {{ end }}
              </ul>
            </div> 
          </div>
        </div>
      </div>
      {{end}}
    </div><!------------------------------------------------------->
  </div>
</section>

{{ end }}
