{{ define "main" }}

{{ partial "page-header.html" . }}

{{"<!-- about -->" | safeHTML }}
{{ with .Site.Data.about.about }}
<section class="section"><!--**********************header section about the company********************-->
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6">
        <img src="{{ .aboutImg | absURL }}" alt="about wittylytics" id="abouti">
      </div>
      <div class="col s12 m6 l6">
        <p class="subtitle">{{ .subtitle }}</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">{{ .title }}</h2>
        <p data-aos="fade-up" data-aos-delay="100">
          {{ .content | markdownify }} <br><br>
            Take a look to our open solutions <a href="{{.github }}" class="p-2 text-reset"><i class="fa fa-2x fa-github icon-gray"></i></a>
        </p>
      </div> 
    </div>
    <div class="divider"></div>
  </div>
</section><!--**************************************************************************************** -->
{{end}}
<!------------------------------team members------------------------------------------------------------>
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col s12">
        {{ with .Site.Data.team.team }}
        <h2 class="section-title">{{ .subtitle }}</h2>
        {{ end }}
      </div>
    </div>
      {{ range $element:= .Site.Data.team.team.teamMember }}
      {{"<!-- team member -->" | safeHTML}}
    <div class="row">
      <div class="col s12 m6">
        <div class="team-member text-center">
        <img src="{{ .image2 | absURL }}" class="teamimg">
        </div>
      </div>
      <div class="col s12 m6"> 
        <div class="content">
          <h5 class="team-member-name">{{.name }}</h5>
          <p class="team-member-designation">{{ .designation }}</p>
          <p class="team-member-designation">{{ .bio }}</p>
          <div class="row">
            <div class="team-member-social">
              {{ range .socialIcon }}
              <a href="{{.URL }}"><i class="fa {{ .icon }}"></i></a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    
      {{ end }}
  </div>
</section>


<!--{{ partial "services.html" . }}-->

<!-- {{ partial "subscription-white.html" . }} -->

{{ end }}