{{"<!-- contact -->" | safeHTML }}

<section class="light-gray3"><!--?------contact us section homepage illustration-------------------------------------->
  <div class="bg-illustration">
    <img class="responsive-img" src="{{ .Site.Data.homepage.banner.ilimage | absURL }}" alt="Belgrade illustration">
    <div class="container content-cont">
      <div class="row adj">
        <div class="col s12 m6">
          {{ with .Site.Data.contact.contactForm }}
          <h2>{{ .title }}</h2>
          {{ end }}
        </div>
        <div class="col s12 m6">
          <a href="{{ .Site.BaseURL }}contact.html"><button class="btn waves-effect waves-light" type="submit" name="action" id="call1">Contact us
            <i class="material-icons">send</i></button></a>
        </div>
      </div>   
    </div>
  </div>
</section><!--?------/contact us section------------------------------------------------------->  

  {{"<!-- /contact -->" | safeHTML }}