{{"<!-- footer part start -->" | safeHTML }}
<footer class="bg-secondary">
  <section class="section border-color">
    <div class="container">
      <div class="row">
        <!-------------------------------------------------->
        <div class="footer-blocks col s12 m4 l4">
          <h4>{{ .Site.Params.footer.service.title }}</h4>
          {{ range .Site.Menus.footer }}
          <ul class="list-unstyled">
            <li><a href="{{ .URL | absURL }}" class="text-light">{{ .Name }}</a></li>
          {{ end }}
          </ul>
        </div>
        <!-------------------------------------------------->
        <div class="footer-blocks col s12 m4 l4">
          <h4>{{ .Site.Params.footer.contact.title }}</h4>
          <ul id="i-email">
            <li><i class="material-icons">email</i><a href="mailto:{{.Site.Params.footer.contact.email}}?subject=About DatWit" class="text-light">{{.Site.Params.footer.contact.email}}</a></li>
          </ul>
        </div>
        <!-------------------------------------------------->
        <div class="footer-blocks col s12 m12 l4">
          <h4>{{ .Site.Params.footer.content }}</h4>
          <ul class="list-inline">
            {{ range .Site.Params.footer.socialIcon }}
            <li class="list-inline-item" id="social-footer"><a href="{{ .URL }}"><i class="fa {{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
        <!-------------------------------------------------->
      </div>
    </div>  
  </section>

{{"  <!-- footer part end -->" | safeHTML }}

{{"  <!-- copyright part start -->" | safeHTML }}
  <section>
    <div class="container">
      <div class="row">
        <div class="col s12" id="copy">
          <p class="text-light center-align">Copyright &copy;
            <script>
              var CurrentYear = new Date().getFullYear();
              document.write(CurrentYear);
            </script> {{ .Site.Params.copyright.copyright }}</p>
        </div>
      </div>
    </div>
  </section>
{{"  <!-- copyright part end -->" | safeHTML }}

</footer>
  


{{ $script:= "script" }}
{{ $scriptTag:= "<" }}
{{$scriptTag | safeHTML }}{{$script}} type="text/javascript">
  
  {{ $.Scratch.Set "counter" 0 }}
  {{ range .Site.Params.plugins.css }}
  {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
  var css{{$.Scratch.Get `counter`}} = document.createElement('link');
  css{{$.Scratch.Get `counter`}}.rel = 'stylesheet';
  css{{$.Scratch.Get `counter`}}.href = '{{ .URL | absURL }}';
  css{{$.Scratch.Get `counter`}}.type = 'text/css';
  var fastCSS{{$.Scratch.Get `counter`}} = document.getElementsByTagName('link')[0];
  fastCSS{{$.Scratch.Get `counter`}}.parentNode.insertBefore(css{{$.Scratch.Get `counter`}}, fastCSS{{$.Scratch.Get `counter`}});
  {{ end }}

</script>

{{ range .Site.Params.plugins.js}}

<script src="{{ .URL | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
