{{ "<!-- page-header -->" | safeHTML }}
<section> 
  <div class="page-title" data-background="{{ .Params.BgImage | absURL }}">
  
    <div class="row"><!--------------breadcrumb---------------------------->
      <div class="col s12" id="breadcrumb">
        <span class="flow-text"><a href="{{ .Site.BaseURL }}" class="text-white">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a>/
        <a class="breadcrumb-item text-white" aria-current="page">{{ .Title }}</a></span>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /page-header -->" | safeHTML }}