{{ "<!-- page-header -->" | safeHTML }}
<section>
  <div class="bg-cover" data-background="{{ .Params.BgImage | absURL }}"></div>
  <nav class="nav-bread">
    <div class="row"><!--------------breadcrumb---------------------------->
      <div class="col s12" id="breadcrumb">
        <span class="flow-text"><a href="{{ .Site.BaseURL }}" class="breadcrumb-item text-white">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a> /
        <a href="{{ .Site.BaseURL }}blog" class="breadcrumb-item text-white">Blog</a> /
        <a class="breadcrumb-item text-white" aria-current="page">{{ .Title }}</a></span>
      </div>
    </div><!-------------->
  </nav> 
</section>
{{ "<!-- /page-header -->" | safeHTML }}