{{"<!-- service -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col s12"><!--------first row title-->
        {{ with .Site.Data.service.service }}
        <h2 class="section-title">{{ .title }}</h2>
        {{ end }}
      </div><!-------------/first row title------------>
    </div>  
        
    <div class="row frow"><!----------second row icon---> 
        {{ range $element:= .Site.Data.service.service.serviceItem }} 
      <div class="col s4"><!--------------one column per icon-->
        <div class="icon-block">
          <div class="text-center">
            <i class="fa {{ .icon }} icon-lg icon-{{ .iconColor }} icon-bg-{{ .iconColor }} icon-bg-circle mb-3 text-center"></i>
            <h3>{{ .title }}</h3>
          </div>
        </div>
      </div><!------------------------/second row icon--->
        {{ end }}
    </div>  
    
  <div class="divider"></div> 
  </div> 
</section>
{{"<!-- service -->" | safeHTML }}


