{{"<!-- service -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col s12"><!--------first row title-->
        {{ with .Site.Data.service.service }}
        <h2 class="section-title">{{ .title }}</h2>
        <h3 class="subtitle">{{.description}}</h3>
        {{ end }}
      </div><!-------------/first row title------------>
    </div>  
    
    <div class="row"><!--------first row blocks-->
      <div class="col s5">
        {{ with .Site.Data.service.serviceItem1 }}
        <h3 class="section-title">{{ .title }}</h3>
        <p>{{ .content }}</p>
        {{ end }}
      </div>
      <div class="col s7 collage">
        <div class="img1"></div>
        <div class="img2"></div>
        <div class="img3"></div>
      </div>
    </div><!-------------/first row blocks------------>
    <div class="row esp"><!--------second row blocks-->
      <div class="col s7 collage">
        <div class="img1"></div>
        <div class="img2"></div>
        <div class="img3"></div>
      </div>
      <div class="col s5">
        {{ with .Site.Data.service.serviceItem2 }}
        <h3 class="section-title">{{ .title }}</h3>
        <p>{{ .content }}</p>
        {{ end }}
      </div>
    </div><!-------------/second row blocks------------>
    
    <div class="row esp"><!--------third row blocks-->
      <div class="col s5">
        {{ with .Site.Data.service.serviceItem3 }}
        <h3 class="section-title">{{ .title }}</h3>
        <p>{{ .content }}</p>
        {{ end }}
      </div>
      <div class="col s7 collage">
        <div class="img1"></div>
        <div class="img2"></div>
        <div class="img3"></div>
      </div>
    </div><!-------------/third row blocks------------>
    
  
  </div> 
</section>
{{"<!-- service -->" | safeHTML }}


