
{{ "<!-- sidebar -->" | safeHTML }}
<div class="col s12 m4 l3">
  <div class="row">
    <div class="widget">
      <h3>Search</h3>
      <form action="{{ .Site.BaseURL }}/search">
        <div class="position-relative">
          <input id="search-query" name="s" type="search" placeholder="Search here">
        </div>
      </form>
    </div>
  </div><!----------------------------------------------------->
  <div class="divider"></div>
  <div class="row">  
    <div class="widget">
        <h3>Category</h3>
        {{- if isset .Site.Taxonomies "categories" }}
      {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
      <ul class="list-unstyled">
        {{- range $name, $items := .Site.Taxonomies.categories }}
        <li><a class="text-color d-block py-3" href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}</a></li>
        {{- end }}
      </ul>
      {{- end }}
      {{- end }}
    </div>
  </div> <!--------------------------------------------------->
  <div class="divider"></div>
  <div class="row">
    <div class="widget">
      <h3>Latest Article</h3>
      <ul class="list-unstyled">
        {{ range first 3 ( where .Site.Pages "Type" "post" )}}
        <li class="media border-bottom">
          <img src="{{ .Params.Image | absURL }}" class="rounded-sm mr-3" alt="post-thumb">
          <div class="media-body">
            <h6 class="mt-0"><a href="{{ .Permalink }}" class="text-dark">{{ .Title }}</a></h6>
            <p class="mb-0 text-color">{{ .PublishDate.Format "Jan 02, 2006" }}</p>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="row"><!---------------tags--------------------------->
    <div class="widget">
      <h3>Tags</h3>
      {{- if isset .Site.Taxonomies "tags" }}
      {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
      <ul>
        {{- range $name, $items := .Site.Taxonomies.tags }}
      <li class="filter-tags"><a href="{{ "tags/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a></li>
        {{- end }}
      </ul>
      {{- end }}
      {{- end }}
    </div> 
  </div> 
</div>
{{ "<!-- /sidebar -->" | safeHTML }}