
{{ "<!-- sidebar -->" | safeHTML }}
<div class="sidebar-border col s12 m4 l4">
  <div class="row"><!--------------------------------search------------------------->
    <div class="widget">
      <h3>Search</h3>
      <form action="{{ .Site.BaseURL }}/search">
        <div class="position-relative">
          <input id="search-query" name="s" type="search" placeholder="Search here">
        </div>
      </form>
    </div>
  </div><!-------------------------------------------------------------------------->
  <div class="divider"></div>
  <div class="row"><!-----------------------category section------------------------>  
    <div class="widget">
        <h3>Categories</h3>
        {{- if isset .Site.Taxonomies "categories" }}
      {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
      <ul class="list-unstyled">
        {{- range $name, $items := .Site.Taxonomies.categories }}
        <li><a class="categ" href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}</a></li>
        <li class="vert-div"><p>|</p></li>               
        {{- end }}
      </ul>
      {{- end }}
      {{- end }}
    </div>
  </div> <!------------------------------/category section-------------------------->
  <div class="divider"></div>
  <div class="row"><!---------------------------recent post section----------------->
    <div class="widget">
      <h3>Latest Articles</h3>
      <ul class="list-unstyled">
        {{ range first 3 ( where .Site.Pages "Type" "post" )}}
        <li class="media border-bottom">
          <img src="{{ .Params.Image | absURL }}" class="rounded-xs" alt="post-thumb">
          <div class="media-body">
            <h6 class="mt-0"><a href="{{ .Permalink }}" class="text-dark">{{ .Title }}</a></h6>
            <p class="text-color">{{ .PublishDate.Format "Jan 02, 2006" }}</p>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
  </div><!---------------------------/recent post section--------------------------->
  <div class="row"><!---------------tags section------------------------------------>
    <div class="widget">
      <h3>Tags</h3>
      {{- if isset .Site.Taxonomies "tags" }}
      {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
      <ul>
        {{- range $name, $items := .Site.Taxonomies.tags }}
      <li class="filter-tags"><a href="{{ "tags/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a></li>
        {{- end }}
      </ul>
      {{- end }}
      {{- end }}
    </div> 
  </div><!-------------------------/tags section------------------------------------> 
</div>
{{ "<!-- /sidebar -->" | safeHTML }}