{{ define "main" }}

{{"<!-- banner -->"| safeHTML}}
<section>
  <div class="new-parallax" data-background="{{ .Site.Data.homepage.banner.bgImage | absURL }}">
    
    {{ with .Site.Data.homepage.banner }}
    <div class="container" id="main-title-container">
      <h1 class="text-white position-relative" >{{ .title }}<!--span class="watermark">{{ .watermark }}</span--></h1>
    {{ end }}
      <div class="row" id="center-button">
        <a href="/contact"><button class="btn waves-effect waves-light" type="submit" name="action" id="call">Contact us</button></a>     
      </div>
    </div> 
  </div>
</section>
<!-------------------------------------------------->

{{"<!-- /banner -->"| safeHTML}}

{{"<!-- features -->"| safeHTML}}
<section>
  <div class="container">
    <div class="row">
      <div class="col s12"><!--------first row title-->
        {{ with .Site.Data.services.service }}
        <h2>{{ .title }}</h2>
        {{ end }}
      </div><!-------------/first row title------------>
    </div>  
      
    <div class="row">
      {{ range $element:= .Site.Data.services.service.serviceItem }} 
      <div class="col s12 m4" id="serv">
     <div class="card" id="card1">
      <div class="icon1"><img src="{{ .src | absURL }}" alt="{{ .title }}"></div>
      <div class="card-content" id="cont"><h3>{{.title}}</h3></div>
     </div>
    </div>
      {{end}}
    </div>
    
  
  </div> 
</section>
{{"<!-- /features -->"| safeHTML}}

{{"<!-- toolset -->"| safeHTML}}
<!-- <section>
  <div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row category-slider">
        {{ range .Site.Data.homepage.toolset }}
        <li class="list-inline-item col s12 m4 l2"><img src="{{ .toolsetLogo | absURL }}" alt="{{ .tool }}" title="{{ .toolName }}"></li>
        {{ end }}
      </div>
    </div>
  </div>
<div class="divider"></div>  
</div>
</section> -->

<section>
  <div class="container">
    <div class="slider">
      <div class="slide-track">
        {{ range .Site.Data.homepage.toolset }}
        <div class="slide">
          <img src="{{ .toolsetLogo | absURL }}" alt="{{ .tool }}" title="{{ .toolName }}">
        </div>
        {{end}}
        {{ range .Site.Data.homepage.toolset }}
        <div class="slide">
          <img src="{{ .toolsetLogo | absURL }}" alt="{{ .tool }}" title="{{ .toolName }}">
        </div>
        {{end}}
      </div>
    </div>

  </div>
</section>

{{"<!-- /toolset -->"| safeHTML}}

{{"<!-- goals -->"| safeHTML}}
<section class="section mt-5 py-1">
  <div class="container">
    <div class="row">
      <!--first card------------------------>
      {{ with .Site.Data.homepage.about }}
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ .image | absURL}}" class="rounded" alt="about-image">
          </div>
          <div class="card-content">
            <span class="card-title activator">
              <h3 class="activator crev">{{ .title}}</h3>
              <i class="material-icons grey-text text-darken-4">more_vert</i>
            </span>
          </div>
          <div class="card-reveal">
            <span class="card-title activator">
              <h3 class="activator crev">{{ .title}}</h3>
              <i class="material-icons grey-text text-darken-4">close</i>
          </span>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>  
      {{ end }}
      <!--/first card------------------------> 
      <!--second card------------------------>
    {{ with .Site.Data.homepage.about2 }}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{ .image | absURL}}" class="rounded" alt="about-image">
        </div>
        <div class="card-content">
          <span class="card-title activator">
            <h3 class="activator grey-text text-darken-4 crev">{{ .title}}</h3>
            <i class="material-icons grey-text text-darken-4">more_vert</i>
          </span>
        </div>
        <div class="card-reveal">
          <span class="card-title activator">
            <h3 class="activator grey-text text-darken-4 crev">{{ .title}}</h3>
            <i class="material-icons grey-text text-darken-4">close</i>
          </span>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>  
    {{ end }}
  <!--/second card------------------------> 
  <!--third card------------------------>
    {{ with .Site.Data.homepage.about3 }}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{ .image | absURL}}" class="rounded" alt="about-image">
        </div>
        <div class="card-content">
          <span class="card-title activator">
            <h3 class="activator grey-text text-darken-4 crev">{{ .title}}</h3>
            <i class="material-icons grey-text text-darken-4">more_vert</i>
          </span>
        </div>
        <div class="card-reveal">
          <span class="card-title activator">
            <h3 class="activator grey-text text-darken-4 crev">{{ .title}}</h3>
            <i class="material-icons grey-text text-darken-4">close</i>
          </span>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>  
    {{ end }}
  <!--/third card------------------------>   
   </div>      
 </div>
</section>    
{{"<!-- /goals -->"| safeHTML}}

{{"<!-- team -->" | safeHTML}}
<section>
  <div class="container">
    <div class="row">
      <div class="col s12"><!-------------------------first row title------->
        {{ with .Site.Data.team.team }}
        <h2>{{ .title }}</h2>
        <h6>{{.description}}</h6>
        <h6>{{.subtitle}}<a href="about#team"><i class="small material-icons" id="link">chevron_right</i></a></h6>
        {{ end }}
      </div>
    </div><!---------------------------     --/first row title----------------->
    <div class="row"><!------second row members-------------------------------->
      {{ with .Site.Data.team.team }}
      <div class="col s12">
        <div class="team-member text-center">
          <img src="{{ .image | absURL }}">
        </div>
      </div>
      {{ end }}
    </div><!--------------------------------------/second row members-------->
  </div>
</section>
{{"<!-- /team -->" | safeHTML}}


{{ end }}
