{{ define "main" }}

{{ partial "page-header.html" . }}

<section class="section section-lg-bottom">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 order-2 order-lg-1">
        <div class="content">
          {{ .Content }}
        </div>
        <a href="{{.Params.JobApplyURL }}" class="btn btn-primary">Apply For This Job</a>
      </div>

      <div class="col-lg-4 order-1 order-lg-2 mb-5 mb-lg-0">
        <div class="p-5 rounded-xs shadow sticky-top">
          <h5 class="text-dark">Job Details</h5>
          <p class="border-bottom pb-4">{{ .Params.JobDetails | markdownify }}</p>
          <ul class="list-unstyled">
            {{ range .Params.JobDetailsItem }}
            <li class="d-flex mb-4">
              <i class="fa {{ .icon }} icon icon-primary"></i>
              <div class="pl-3">
                <h6 class="text-dark">{{.title }}</h6>
                <ul class="list-unstyled">
                  <li>{{ .content | markdownify }}</li>
                </ul>
              </div>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "subscription-white.html" . }}

{{ end }}