{{ define "main" }}

{{ partial "page-header.html" . }}

{{"<!-- about agico -->" | safeHTML }}
{{ with .Site.Data.about.about }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pr-lg-4 mb-4 mb-md-0">
        <div class="position-relative" data-aos="fade-right">
          <img src="{{ .videoThumbBg | absURL }}" class="img-fluid rounded-sm" alt="videoThumbBg">
          <div class="floating-video overlay rounded-sm">
            <img src="{{ .videoThumb | absURL }}" class="img-fluid rounded-sm" alt="video-thumb">
            <a class="venobox play-icon icon-center" data-autoplay="true" data-vbtype="video"
              href="{{ .videoURL }}">
              <i class="fa fa-play text-secondary bg-white rounded-circle"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 align-self-center pl-lg-4">
        <p class="subtitle" data-aos="fade-up">{{ .subtitle }}</p>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">{{ .title }}</h2>
        <p data-aos="fade-up" data-aos-delay="400">{{ .content | markdownify }}</p>
        {{ with .button }}
        <a class="btn btn-primary" href="{{ .URL }}" data-aos="fade-up" data-aos-delay="600">{{ .btnText }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{"<!-- about agico -->" | safeHTML }}

{{"<!-- counter -->" | safeHTML }}
<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      {{ range .Site.Data.about.counter }}
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 font-weight-light text-dark"><span class="counter" data-count="{{ .count }}">0</span>+</p>
        <h6 class="text-dark font-weight-normal">{{ .description }}</h6>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{"<!-- counter -->" | safeHTML }}

{{ partial "services.html" . }}

{{ partial "subscription-white.html" . }}

{{ end }}