{{ define "main" }}

<!-----------------------------navbar ------------------------------------------------------------------>
{{ partial "pheader-contact.html" . }}
<!------------------------------------------------------------------------------------------------------------------>

<section class="section mb-2"><!-----------form section------------------------>
  <div class="container">
    <div class="row">
      <div class="col s12">
          {{ with .Site.Data.contact.contact }}
          <h6>{{ .content }}</h6>
          {{ end }}
      </div> 
    </div>  
    <div class="row mr-1">
           {{ with .Site.Data.contact.contact }}
      <div class="col s12 m6 l5" id="img">
        <img src="{{ .imgurl | absURL}}" alt="{{.imgtitle}}" id="belg" class="rounded-sm mb-3">
            {{end}}
      </div>

      <div id='contact-form-loader' 
        data-controller="component" 
        data-component-remote='{{ getenv "CONTACT-MANAGER-ENDPOINT" }}'
        data-component-ajax="true">
      </div>

    </div>
  </div>
</section><!------------------------/form section---------------------------->

<section id="map-section"><!-------------------map section------------------------------------->
  <div class="container">
    {{with .Site.Data.contact.contact}}
    <div class="row">    
      <div class="col s12">
        <h6 class="section-header">{{ .localization2 }}</h6>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
          <h3>{{ .localization }}</h3>
          <div class="center">
              <div class="section-header"><b>Visit us at: </b> {{ .address }}</div>
              <iframe
                id="map"
                height="300"
                width="90%"
                frameborder="0" 
                scrolling="no" 
                marginheight="0" 
                marginwidth="0" 
                src="https://www.openstreetmap.org/export/embed.html?bbox=20.456151366233826%2C44.816253388708006%2C20.46213805675507%2C44.81845284577699&amp;layer=mapnik&amp;marker=44.817353127729476%2C20.459144711494446" 
                style="border: 1px solid black">
              </iframe>
              <br/>
              <small>
                  <a target="_blank" href="https://www.openstreetmap.org/?mlat=44.81735&amp;mlon=20.45914#map=18/44.81735/20.45914">
                      See full map
                  </a>
              </small>
          </div>        
      </div>
    </div>
    {{end}}
  </div>
</section><!-------------------------/map section--------------------------------->


{{ end }}

{{ define "jsaddons" }}
<script src='{{ getenv "CONTACT-MANAGER-CLIENT" }}'></script>
{{ end }}
