{{ define "main" }}

<!-----------------------------navbar ------------------------------------------------------------------>
{{ partial "pheader-contact.html" . }}
<!------------------------------------------------------------------------------------------------------------------>

<section class="section mb-2"><!-----------form section------------------------>
  <div class="container">
    <div class="row">
      <div class="col s12">
          {{ with .Site.Data.contact.contact }}
          <h6>{{ .content }}</h6>
          {{ end }}
      </div> 
    </div>  
    <div class="row mr-1">
           {{ with .Site.Data.contact.contact }}
      <div class="col s12 m6 l5" id="img">
        <img src="{{ .imgurl | absURL}}" alt="{{.imgtitle}}" id="belg" class="rounded-sm mb-3">
            {{end}}
      </div>

      <div id='contact-form-loader' 
        data-controller="component" 
        data-component-remote='{{ getenv "CONTACT-MANAGER-ENDPOINT" }}'
        data-component-ajax="true">
      </div>

    </div>
  </div>
</section><!------------------------/form section---------------------------->

<section><!-------------------map section------------------------------------->
  <div class="container">
    <div class="row">
      <div class="col s12">
        {{with .Site.Data.contact.contact}}
          <h3>{{ .localization }}</h3>
          <h6>{{.localization2}}</h6>

          {{ "<!-- Google Map API -->" | safeHTML }}
          <!-- <div id="map" style="width:400px;height:400px;background:transparent">
          <script src="{{ .Site.Params.gmapAPI | absURL }}"></script>
          </div> -->
         
        {{end}}
      </div>
    </div>
    <div class="row">
      <h3>Visit us:</h3>
      <h6>Address</h6>
      <h6>Phone number</h6>
    </div>
  </div>
</section><!-------------------------/map section--------------------------------->



{{ end }}

{{ define "jsaddons" }}
<script src='{{ getenv "CONTACT-MANAGER-CLIENT" }}'></script>
{{ end }}
