{{ define "main" }}

<!-----------------------------navbar ------------------------------------------------------------------>
{{ partial "page-header.html" . }}
<!------------------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------>
{{"<!-- search -->"| safeHTML}}
<!------------------search results--------------------------------->
<section class="mb-2 mb-1">
  <div class="container">
    <div class="row">
      <div class="col s12">
          <div id="search-results"></div>
          <script id="search-result-template" type="text/x-js-template">
            <div class="search-result" id="summary-${key}">
              <h4><a href="${link}">${title}</a></h4>
              <p>${snippet}</p>
              ${ isset tags }<p>Tags: ${tags}</p>${ end }
              ${ isset categories }<p>Categories: ${categories}</p>${ end }
            </div>
          </script>
      </div>
    </div>
    <a class="btn-floating btn-large waves-effect waves-light" onclick="topFunction()" id="myBtn" title="Go to top"><i class="material-icons">arrow_upward</i></a>
  </div>
</section>

{{"<!-- /search -->"| safeHTML}}

{{ partial "contact-access-gray.html" . }}

{{ end }}